* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body, html {
  width: 100%;
  height: 100%;
  background-color: #f0f2f5;
  overflow: hidden;
  position: relative;
}
.imgfond {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  object-fit: cover;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.login .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: auto;
}
.boxForm {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.logoVert {
  width: 850px;
  position: absolute;
  top: 60px;
  left: -18%;
  transform: translateX(-50%);
  z-index: -10;
  opacity: 0.1;
}
.formLogin h1 {
  color: #030444;
}
.formLogin input {
  border: 4px solid #00a65a;
  border-radius: 10px;
  padding: 12px 16px;
  width: 100%;
  margin-bottom: 16px;
  transition: border-color 0.3s;
}
.formLogin button {
  background-color: rgb(1, 1, 49);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 12px 16px;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.formLogin button:hover {
  background-color: #008d4a;
}
.text-end {
    text-align: right;
}

.text-end a {
    display: block;
    color: blue;
    font-size: 0.85rem;
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 2px;
    line-height: 1.2;
}
body { overflow: auto; display: flex; }

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #030644;
    color: white;
    padding: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 40px;
}

.nav-link {
    color: rgba(255,255,255,0.8);
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.nav-link:hover, .nav-link.active {
    background-color: #00a65a;
    color: white;
}

.logout-btn {
    background-color: #ff3333;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.logout-btn:hover {
    background-color: #d62828;
    transform: translateY(-2px);
}
.search-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    margin:20px 0;
}

.search-input-white {
    background-color: #ffffff;
    border: 2px solid #00a65a;
    color: #333 ;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 0.9rem;
    width: 100%;
    margin-bottom: 12px;
}

.btn-search-validate {
    background-color: #00a65a;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 6px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.btn-search-validate:hover {
    background-color: #008d4a;
}

.btn-search-validate:active {
    transform: scale(0.98);
}

.btn-auth {
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn {
    background-color: #00a65a;
    color: white;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    width: 100%;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #008d4a;
    transform: translateY(-2px);
}

.titre-section {
    margin-bottom: 30px;
    color: #030444;
}

.recipe-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 30px;
}

.recipe-card {
    width: 280px;
    background: white;
    border-radius: 14px;
    overflow: hidden;
}

.recipe-img {
    width: 100%;
    height: 150px;
    object-fit: cover; /* do not change picture form */
}

/* ADMIN TABLE */


.subtitle {
    color: #666;
    font-size: 1rem;
}

.add-recipe-btn {
    background-color: #00a65a;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 14px 22px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.add-recipe-btn:hover {
    background-color: #008d4a;
    transform: translateY(-2px);
}

.admin-recipe-card {
    position: relative;
}

.admin-actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.btn-edit,
.btn-delete {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-edit {
    background-color: #030644;
}

.btn-delete {
    background-color: #ff3333;
}